.login-panel{
	padding: 0px 10px;
}
.main-admin-dashboard{
	padding-top: 20px;
	button{
		border-radius: 0;
	}
	input{
		margin-bottom: 2px;
	}
	.edit-icon{
		width: 15px;
		height: 15px;
	}
	.form-group span{
		margin-bottom: 5px;
	}
}