.footer-blink {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #292c2f;
	width: 100%;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	text-align: left;

	@media (min-width: 500px) and (max-width: 768px) {
		overflow: auto;
	}
	@media (min-width: 769px){
		display: flex;
	}
	.footer-box{

		.footer-box-title{
			font-size: 15px;
			color: #ccc;
			letter-spacing: 3px;
			text-transform: uppercase;

			@media (min-width: 1px) and (max-width: 768px) {
				font-size: 18px;
			}
		}
		.list-inline.social-buttons{
			li{
				cursor: pointer;
			}
			img{
				border: 0;
			}
		}
		.newsletter{
			display: table;
    		margin: 0 auto;
		}
		.footer-links, .list-inline.social-buttons, .dev-info{
			color:  #ffffff;
			margin: 20px 0 12px;
			padding: 0;
			a{
				display:inline-block;
				line-height: 1.8;
				text-decoration: none;
				color: inherit;
			}
		}
		.language-selection{
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: 400;
		}
		.separator{
			display: none;
		}
		@media (min-width: 1px) and (max-width: 499px) {
			display: block;
			text-align: center;
			margin-bottom: 30px;
			.separator{
				display: block;
			}
		}
		@media (min-width: 500px) and (max-width: 768px) {
			width: 48%;
			display: inline-block;
			float: left;
			flex: 1;
			margin-bottom: 30px;
		}
		@media (min-width: 769px){
			width: 24%;
			display: inline-block;
			flex: 1;
		}

		.dev-info{
			.dev-name{
				font-weight: 200;
			    letter-spacing: 4px;
			    font-size: 20px;
			    color: #fed136;
			}
			.web-dev{
				font-weight: bold;
			    background-color: #fed136;
			    padding: 0 5px;
			    cursor: pointer;
			    color: #222;
			}
			p{
				color: #fff;
				font-weight: normal;
			}
		}
		.separator{
			font-size: 16px;
			color: #fff;
		}
	}
}

.footer-blink .footer-icons{
	margin-top: 25px;
}

.footer-blink .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
