@import '_login';
@import '_signin';
@import '_application';
@import '_landing';
@import '_cards';
@import '_footer';

#more-info{
	margin-right: 5px;
    margin: 0 auto;
    margin-top: 30px;
}
.form-control{
	border-radius: 0;
}
#demo{
	background-color:#EEE; 
}
#conoce, #contact{
	padding: 100px 0;
}
.demo_description{
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    text-align: center;
}
.demo-img{
	display: block; 
	margin: 0 auto; 
	width: 15%;
}
#download-app{
	padding: 100px 0;
}

@media (min-width:320px) and (max-width:768px){
	.container a{
		font-size: 12px;
	}
	.btn-xl{
		padding: 10px 10px;
	}
	.demo_description{
		font-size: 27px;
	}
	#conoce-mas{
		padding: 100px 0;
	}
	.demo-img{
		width: 32%;
	}
}
@media (min-width:767px){
	#bs-example-navbar-collapse-1{
		margin-left: 60px;
	}
	#logandsign li a{
	    font-size: 13px;
	    padding: 10px;
	    line-height: 31px;
	}
}
@media (min-width: 768px){
	.last-item-header{
		border-left: 1px solid #CCC;
	}
}