body{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#userName{
	text-transform: uppercase;
}
#sidebar-collapse{
	.search-box{
		border-radius: 0;
	}
}
a, a:hover, a:focus{
	color: #cc6565;
}
.sidebar ul.nav .active a, .sidebar ul.nav .active > a:hover, .sidebar ul.nav .active > a:focus{
	background-color: #cc6565;
}


.main{
	display: none;
}
.groups-list{
	.panel-default{
		border-radius: 0;
		.group-box{
			background-color: #1ebfae;
			cursor: pointer;
			.group-actions{
				display: inline-block;
				float: right;
				padding: 6px;
				.icons{
					float: left;
					.icon{
						width: 40px;
						height: 40px;
						color: #fff;
						// background-color: #1ebfae;
						padding: 5px;
						cursor: pointer;
					}
				}
				.group-name{
					font-weight: 500;
				    padding: 10px;
				    color: #fff;
				    letter-spacing: 1px;
				    text-align: right;
				    font-size: 30px;
				    display: inline-block;
				    float: left;
				    padding: 0;
				    margin: 5px 4px 5px 12px;
				}
			}
			
			.group-image{
				height: 160px;
			}
		}
		
	}
}

.block-content{
	.page-header{
		float: right;
    	text-transform: uppercase;
    	font-weight: 500;
	}
	.title-heading{
		background-color: #1ebfae;
		color: #fff;
		font-weight: 400;
		border-radius: 0;
	    height: 46px;
	    padding-top: 1px;
	    text-align: left;
	    font-size: 15px;
	}
	#btn-input{
		border-radius: 0;
	}
	#btn-chat, #btn-todo{
	    border-radius: 0;
	    background-color: #000;
	    border-color: #000;
	    text-transform: uppercase;
	}
	.panel-footer{
		border-radius: 0;
	}
}