<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- href="#page-top"-->
            <a class="navbar-brand page-scroll" href="#page-top" style="margin-top: -4px; padding: 0;"><img alt="Blink app" title="Blink app" src="public/img/logo.svg" id="icon-top"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-home" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-middle">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#main-page">blink!</a>
                </li>
                <li>
                    <a class="page-scroll" href="#conoce">Conoc&eacute; m&aacute;s</a>
                </li>
                <li>
                    <a class="page-scroll" href="#demo">Demo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#faq">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#nosotros">Qui&eacute;nes somos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contactate</a>
                </li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right" id="logandsign">
                <li>
                    <a class="button" href="views/log_in.php#login-box-link">Inici&aacute; sesi&oacute;n</a>
                </li>
                <li class="" style="border-left: 1px solid #CCC;">
                    <a class="button" href="views/log_in.php#signup-box-link"><b>Registrate</b></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>