<!DOCTYPE html>
<html class="no-js"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blink!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" >

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/styles_default.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/logged_in.css">
    <link rel="shortcut icon" type="image/png" href="../../public/img/icon_tab.png"/>

</head>
<body style="background-color: #4acaa8">
    <nav class="navbar navbar-default navbar-fixed-top navbar-logged-in">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- href="#page-top"-->
                <a class="navbar-brand page-scroll" href="../index.html" style="margin-top: -14px; padding: 0;"><img alt="Blink app" title="Blink app" src="../public/img/logo_small.svg" id="icon-top"></img></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="#">Mi perfil</a>
                    </li>
                    <li>
                        <a class="notification-icon" href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <div id="header">
                <header>
                    <span class="image avatar"><img src="../public/img/user_photo.svg" alt="" /></span>
                    <h1 id="logo">Brenda</h1>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#one" class="activo">Mis grupos</a></li>
                        <li><a href="#two">Crear grupo</a></li>
                        <li><a href="#three">Ajustes</a></li>
                        <li style="bottom: 0; position: absolute; width: 100%"><a href="#four">Cerrar sesi&oacute;n</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="groups">
        <div class="row">
            <div class="col-md-3 col">
            </div>
            <div class="col-md-3 col">
            </div>
            <div class="col-md-3 col">
            </div>
        </div>
    </div>

    <!-- Scripts -->
    
    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../public/js/jqueryeasing.js"></script>
    <script src="../public/js/classie.js"></script>
    <script src="../public/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../public/js/jqBootstrapValidation.js"></script>
    <script src="../public/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../public/js/agency.js"></script>

    <!-- Actions -->
    <script src="../public/js/actions.js"></script>
    <script src="../public/js/login.js"></script>
</body>
</html>
