@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:700,400";
body {
  background-color: #65CCB8; }

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  text-decoration: none; }

a {
  color: #65CCB8; }

.login-box {
  position: relative;
  margin: 10px auto;
  width: 500px;
  height: 400px;
  background-color: #fff;
  padding: 10px;
  top: 100px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.lb-header {
  position: relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 28px; }

.lb-header a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.lb-header .active {
  color: #65CCB8;
  font-size: 18px; }

.social-login {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee; }

.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align: center; }

.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px; }

.social-login a:first-child {
  background-color: #49639F; }

.social-login a:last-child {
  background-color: #DF4A32; }

.email-login, .email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center; }

.u-form-group {
  width: 100%;
  margin-bottom: 10px; }

.u-form-group input[type="email"],
.u-form-group input[type="telephone"],
.u-form-group input[type="password"] {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 12px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 10px; }

.navbar-login {
  background-color: #222;
  padding: 10px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  margin-bottom: 20px; }

.application-body {
  background-color: #eee; }

.application-content {
  padding: 50px 0;
  overflow: hidden; }
  .application-content .actions {
    margin-bottom: 20px; }

.navbar-logged-in {
  background-color: #222;
  padding: 10px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
  margin-bottom: 0px; }

.image.avatar img {
  border-radius: 100%;
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer; }

header {
  background-image: none; }

#nav ul {
  list-style-type: none;
  padding: 0; }

#nav ul li a {
  text-transform: uppercase;
  color: #FFF;
  display: block;
  margin: 0 auto;
  width: 100%;
  line-height: 50px;
  padding: 5px 10px 0 30px;
  text-decoration: none; }

#nav ul li a:hover {
  text-decoration: none;
  background-color: #4acaa8;
  transition: background-color 0.5s ease; }

#nav ul li a.activo {
  background-color: #4acaa8; }

.col {
  background-color: #FFF;
  height: 15%; }

#logo {
  font-weight: 200; }

#icon-top {
  height: 58px; }

.notification-icon {
  height: 30px; }

.notification-icon {
  background-image: url(../img/notification.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center; }

.notification-icon:hover {
  background-image: url(../img/notification_hover.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  -webkit-transition: width 2s;
  /* Safari 3.1 to 6.0 */
  transition: all .2s ease-in-out; }

#my-profile-btn {
  padding: 6px 15px 0 0; }

.profile-account {
  background-color: #100;
  color: #FFF;
  height: 660px;
  /*position: absolute;*/
  width: 17%;
  /*right: 0;*/
  float: right;
  overflow: hidden; }

.groups {
  float: left;
  width: 80%;
  overflow: hidden;
  margin-left: 0;
  padding: 2%; }

@media (min-width: 1px) and (max-width: 767px) {
  .profile-account {
    float: none;
    width: 100%; }

  .groups {
    width: 100%;
    float: none; } }
#ajustes {
  display: none; }

.landing-main-page .container .navbar-header #page-top {
  margin-top: -4px;
  padding: 0; }
.landing-main-page .container .navbar-home .navbar-right .sign-in-home {
  border-left: 1px solid #CCC; }
.landing-main-page #conoce .container .text-muted {
  line-height: 28px; }
  .landing-main-page #conoce .container .text-muted span {
    font-style: normal; }
.landing-main-page #conoce .container .description-conoce {
  margin-top: 16px;
  display: block;
  font-weight: bold;
  font-style: normal; }
.landing-main-page #conoce .container .know-more {
  text-align: center; }
.landing-main-page #download-app .container .download-application img {
  cursor: pointer;
  margin-bottom: 18%;
  margin-bottom: 40px; }
.landing-main-page #download-app .container .download-application h3 {
  font-style: normal;
  margin-bottom: 0; }

/*
*  Basic Reset
*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**
 * Basics Styles
 */
html {
  font-size: 62.5%; }

body {
  background-color: #eee;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
  color: #666; }

a {
  text-decoration: none;
  color: #3498db; }

a:hover {
  color: #2980b9; }

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem; }

/**
 * Helpers
 */
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.text-center {
  text-align: center; }

.radius {
  border-radius: 2px; }

.padding-tb {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

.shadowDepth0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }

.shadowDepth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/**
 * Card Styles
 */
.card {
  background-color: #fff;
  margin-bottom: 1.6rem; }

.card__padding {
  padding: 1.6rem; }

.card__image {
  min-height: 100px;
  background-color: #eee; }

.card__image img {
  width: 100%;
  max-width: 100%;
  display: block; }

.card__content {
  position: relative; }

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem; }

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease; }

.card__article a:hover {
  color: #2980b9; }

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem; }

.card__author img,
.card__author-content {
  display: inline-block;
  vertical-align: middle; }

.card__author img {
  border-radius: 50%;
  margin-right: 0.6em; }

.card__share {
  float: right;
  position: relative;
  margin-top: -42px; }

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
  transform: translateX(0px);
  transition: transform 0.35s ease; }

.card__social--active {
  visibility: visible;
  /*z-index: 3;*/
  transform: translateZ(0);
  transform: translateX(-48px);
  transition: transform 0.35s ease; }

.share-toggle {
  z-index: 2; }

.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db; }

.share-toggle.share-expanded:before {
  content: "\f00d"; }

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }

.share-icon:hover,
.share-icon:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.facebook {
  background-color: #3b5998; }

.twitter {
  background-color: #00abe3; }

.googleplus {
  background-color: #d3492c; }

.facebook,
.twitter,
.googleplus {
  color: #fff; }

.facebook:hover,
.twitter:hover,
.googleplus:hover {
  color: #eee; }

.login-panel {
  padding: 0px 10px; }

.separation {
  height: 20px; }

.main-admin-dashboard {
  padding-top: 20px; }
  .main-admin-dashboard li.active a:focus, .main-admin-dashboard li.active a:hover {
    border: 0; }
  .main-admin-dashboard button {
    border-radius: 0; }
  .main-admin-dashboard input {
    margin-bottom: 2px; }
  .main-admin-dashboard .edit-icon {
    width: 15px;
    height: 15px; }
  .main-admin-dashboard .form-group span {
    margin-bottom: 5px; }
  .main-admin-dashboard .tab-admin-page {
    background-color: #FFF; }
    .main-admin-dashboard .tab-admin-page .panel-heading {
      height: 0; }
    .main-admin-dashboard .tab-admin-page .section-name {
      display: block;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px; }
    .main-admin-dashboard .tab-admin-page .form-group span {
      float: right;
      font-weight: bold; }
    .main-admin-dashboard .tab-admin-page .form-section {
      /* USAR EL NOT LAST CHILD :not(:last-child)*/ }
      .main-admin-dashboard .tab-admin-page .form-section .edit-section {
        float: right;
        margin-right: 10px; }
      .main-admin-dashboard .tab-admin-page .form-section .box-section {
        border-right: 1px solid #ccc; }

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  margin-right: 10px; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }

  .footer-distributed .footer-center i {
    margin-left: 0; } }
#more-info {
  margin-right: 5px;
  margin: 0 auto;
  margin-top: 30px; }

.form-control {
  border-radius: 0; }

#demo {
  background-color: #EEE; }

#conoce, #contact {
  padding: 100px 0; }

.demo_description {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.demo-img {
  display: block;
  margin: 0 auto;
  width: 15%; }

#download-app {
  padding: 100px 0; }

@media (min-width: 320px) and (max-width: 768px) {
  .container a {
    font-size: 12px; }

  .btn-xl {
    padding: 10px 10px; }

  .demo_description {
    font-size: 27px; }

  #conoce-mas {
    padding: 100px 0; }

  .demo-img {
    width: 32%; } }
@media (min-width: 767px) {
  #bs-example-navbar-collapse-1 {
    margin-left: 60px; }

  #logandsign li a {
    font-size: 13px;
    padding: 10px;
    line-height: 31px; } }

/*# sourceMappingURL=content.css.map */
