.navbar-logged-in{
  background-color: #222;
  padding: 10px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  margin-bottom: 20px;
}

#header{
    display: block;
    background-color: #100;
    color: #FFF;
    position: absolute;
    width: 20%;
    right: 0;
    padding: 92px 0;
}

.image.avatar img {
    border-radius: 100%;
    display: block;
    width: 60%;
    margin: 0 auto;
}
header{
	background-image: none;
}
#nav ul{
	list-style-type: none;
	padding: 0;
}
#nav ul li a{
	text-transform: uppercase;
	color: #FFF;	
	display: block;
	margin: 0 auto;
	width: 100%;
  line-height: 50px;
  padding: 5px 10px 0 30px;
  text-decoration: none;
}
#nav ul li a:hover{
	text-decoration: none;
  background-color: #4acaa8;
  transition: background-color 0.5s ease;
}
#nav ul li a.activo{
	background-color: #4acaa8;
}
.col{
	background-color: #FFF;
	height: 15%;
}
#logo{
	font-weight: 200;
}
.notification-icon{
  background-image: url(../img/notification.svg);
      background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}
.notification-icon:hover{
    background-image: url(../img/notification_hover.svg);
      background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
  -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
    transition: all .2s ease-in-out;
    
}