/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ddd; 
  text-align: left; 
}

.actions-app{
	cursor: pointer;
	margin-top: 20px;
	padding: 5px;
	font-size: 22px;
	color: #222;
	background-color: #eee;
	display: inline-block !important;
}
.active-app-content{
	background-color: #ccc;
	color: #fff;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ddd; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:before{ color: #000; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; text-align: right;}
	.table-contact td:nth-of-type(1):before { content: "Nombre";}
	.table-contact td:nth-of-type(2):before { content: "Mail"; }
	.table-contact td:nth-of-type(3):before { content: "Telefono"; }
	.table-contact td:nth-of-type(4):before { content: "Mensaje"; }
	.table-contact td:nth-of-type(5):before { content: "Fecha y hora"; }

	.table-users td:nth-of-type(1):before { content: "Foto";}
	.table-users td:nth-of-type(2):before { content: "Nombre";}
	.table-users td:nth-of-type(3):before { content: "Usuario";}
	.table-users td:nth-of-type(4):before { content: "Contraseña";}
	.table-users td:nth-of-type(5):before { content: "Mail";}
	.table-users td:nth-of-type(6):before { content: "Teléfono";}
	.table-users td:nth-of-type(7):before { content: "Ingreso"}
	.table-users td:nth-of-type(8):before { content: "Estado"}
	.table-users td:nth-of-type(9):before { content: "Acción"}

	.table-groups td:nth-of-type(1):before { content: "Foto";}
	.table-groups td:nth-of-type(2):before { content: "Usuario";}
	.table-groups td:nth-of-type(3):before { content: "Mail";}
	.table-groups td:nth-of-type(4):before { content: "Mensaje";}
	.table-groups td:nth-of-type(5):before { content: "Hora";}

}